:root {
  --ion-background-color: #2c2c2c;
  --ion-text-color: #ffffff;
  --ion-item-background: #393939;
}

@media (prefers-color-scheme: light) {
  :root {
    --ion-background-color: #f4f5f8;
    --ion-text-color: #000000;
    --ion-item-background: #ffffff;
  }
}

body {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

.ion-color-light {
  --ion-background-color: #f4f5f8;
  --ion-text-color: #000000;
  --ion-item-background: #ffffff;
  .col-center {
    font-size: 1rem;
  }
  .col-end {
    color: black;
  }
  .col-start {
    color: black;
  }
  ion-checkbox::part(container) {
    border: 3px solid #000000;
  }
  .weekdays {
    background-color: rgb(147, 255, 250);
  }
}

.ion-color-dark {
  --ion-background-color: #1e1e1e;
  --ion-text-color: #ffffff;
  --ion-item-background: #2b2b2b;
  .col-center {
    color: white;
    font-size: 1rem;
  }
  .weekdays {
    background-color: #0a5db6;
    color: white;
    border: 1px solid white;
  }

}

ion-checkbox {
  --size: 22px;
  --checkbox-background-checked: #6815ec;
  border-color: white;
}
ion-checkbox::part(container) {
  border-radius: 6px;
  border: 3px solid #6815ec;
}