:root {
  --ion-background-color: #2c2c2c;
  --ion-text-color: #ffffff;
  --ion-item-background: #393939;
}

@media (prefers-color-scheme: light) {
  :root {
    --ion-background-color: #f4f5f8;
    --ion-text-color: #000000;
    --ion-item-background: #ffffff;
  }
}

body {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

.ion-color-light {
  --ion-background-color: #f4f5f8;
  --ion-text-color: #000000;
  --ion-item-background: #ffffff;
}

.ion-color-dark {
  --ion-background-color: #1e1e1e;
  --ion-text-color: #ffffff;
  --ion-item-background: #2b2b2b;
}
